$fonts: 'Roboto', sans-serif;

$blinking-background: black;

$blinking-text: white;

$number-buttons: #343a40;

$calculation-buttons: #FF530D;

$enter-button: #0011B2;

$background: #727F8C;

/* Light Color Scheme */
$light-background: #ffffff;
$light-button: #f4f4f4;
$light-operators:#d2d2d2;
$light-enter: #4a8cf6;
$light-color: #31242A;
$light-border: #ebebeb;

/* Dark Color Scheme */
$dark-background: #303030;
$dark-button: #424242;
$dark-operators:#212121;
$dark-enter: #4a8cf6;
$dark-color: #F5F5F5;
$dark-border: rgba(0, 0, 0, 0.14);

/* Colored Color Scheme */
$color-background: #e1183a;
$color-button: #4f7ef2;
$color-operators: #f5c228;
$color-enter: #24bf5a;
$color-color: #31242A;
$color-border: #ebebeb;
