@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "ember-bootstrap/bootstrap";
@import "_variables";
@import "_mixins.scss";

body {
  font: $fonts
}

input#answer {
  text-align:right;
  @include pulsate(1s, 16);
}

card {
  width: 5rem;
}

.btn-group {
  .btn {
    flex: 1;
  }
}

.num-btn {
  background-color: $number-buttons;
  color: white;
}

.calc-btn {
  background-color: $calculation-buttons;
  color: white;
}

.enter-btn {
  background-color: $enter-button;
  color: white;
}

.calculator {
  background-color: $background;
}




